<h1>Pub Quiz</h1>
<p>Create a pub quiz and have fun with your friends.</p>


<% if @owned_quizzes.any? %>
  <h3>My Quizzes</h3>
  <ul>
    <% @owned_quizzes.each do |quiz| %>
      <li><%= link_to quiz.name, quiz %> (<%= link_to 'Delete', quiz, method: :delete, data: { confirm: 'Are you sure?' } %>)</li>
    <% end %>
  </ul>
<% end %>

<%= render 'quizzes/form', quiz: @quiz %>