@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

html, body {
  height: 100%;
}

body {
  background-color: #fefefe;
  color: #333;
  font-family: 'Nunito', sans-serif;
  margin: 0,
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1140px;
  margin: 0px auto;
}

.hero-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  margin: 20px auto;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  color: #0e5596;
}

.home-form {
  max-width: 320px;
  margin-top: 40px;
}

.hero-item {
  flex-basis: 380px;
  flex-grow: 1;
}

.hero-title {
  margin-top: 2rem;
  margin-bottom: 0.2rem;
  font-size: 20pt;
  color: #444444;
}

.footer {
  text-align: center;
  color: #eee;
  padding: 40px 0;
}

@media (max-width: 768px) {
  body {
    height: auto;
    margin: 20px;
  }

  .home-form {
    max-width: 100%;
    margin: 40px 0;
  }

  .hero-container {
    flex-grow: inherit;
  }
}

@media (min-width: 1000px) {
  .title {
    padding: 40px 0;
  }

  .hero-title {
    margin-top: 0;
    font-size: 30pt;
  }

  .home-form {
    max-width: 400px;
  }
}

li.quiz-list {
  display: flex;
}

a.quiz-button {
  line-height: 22px;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  flex-grow: 1;
  text-align: left;
  text-decoration: none;
  margin-right: 10px;
  min-height: 22px;
}

a.quiz-button:hover {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
}

a.quiz-delete {
  border: 1px solid #d9d9d9;
  line-height: 10px;
  padding: 6px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a.quiz-delete:hover {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
}

.inline-form {
  display: flex;
  align-items: center;
}

.home-button {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  margin-left: 10px;
}

.home-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 6px 50px 8px rgba(24, 144, 255, 0.15);
}
